.App {
  width: 600px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: auto;
  padding: 2rem;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&family=Josefin+Sans&family=Montserrat&family=Open+Sans&display=swap');
/* .root {
  --back_color: #0c4a6e;
  --text_color: #fcd34d;
} */
/* body {
  /* background-color: #bbf7d0; */

h1,
h4 {
  padding: "1rem";
}

button {
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: small;
}
button:hover{
  background-color: #fde047;
}

li {
  listStyle: "none";
  padding: "1rem";
  border: "1px solid #D1D5DB";
  width: "70%";
  margin: "1rem 0rem";
  borderRadius: "0.5rem"; 
}
